<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chart Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <style>
  	.h200 {height: 40vh;}
  </style>
  <script>
  
  $(document).ready(function () {
	  
	//차트 목록 정의  
	var viewList = [
		{dataURL: "/eis/getData/google", 
		 Option: {
	 			chartType: 'BarChart',
	 	        options: {'title': 'Countries'},
	 	        containerId: 'chart_1'   	        
	  	}},
		
		{dataURL: "/eis/getData/google",
		 Option: {
	 			chartType: 'CoulmnChart',
	 	        options: {'title': 'Countries'},
	 	        containerId: 'chart_2'   	        
	  	}}
	];
	
	google.charts.load('current');
	google.charts.setOnLoadCallback(drawVisualization);

  	var wrapper = null;
  	var option = {};
  	//{"key":value, "key":value}
  	
	
  	function drawVisualization() {
      
  		for (var i=0; i<viewList.length; i++){
  			getData(viewList[i], i);
		}
  	}
  	
  	
  	function getData(row, index) {
  		
  		var dataURL =  row.dataURL;
  		option[index] = row.Option;
  		
  	// 데이터 가져오기.
		$.post(dataURL).done(function(data) {
			// json 데이터 변수 담기
			var result = data.result;
			var columns = data.columns;
			var size = data.size;
			// 컬럼 정보 확인 (예외처리)
			if(columns.length == 0){
				alert("잘못된 호출 입니다.");
				return false;
			}
			// 구글 차트에 사용 할 데이터 만들기
			var chartData = new google.visualization.DataTable();
			// 컬럼 데이터 설정
			$.each(columns, function(index, value) {
				chartData.addColumn(value.type, value.value);
			});
			// 차트 데이터 설정
			$.each(result, function(index, value) {
				var row = [];
				for(var i = 0; i < columns.length; i++){
					row[i] = value[columns[i].column];
				}
				chartData.addRows([ row ]);
			});
			
			option[index].dataTable = chartData;
			wrapper = new google.visualization.ChartWrapper(option[index]);
          wrapper.draw();
		});
  	}
  	
	  
	  //버튼 눌렀을떄, 차트 변경되도록 클릭 변수에 boolean값을 줘서 변경하기
	  var check = false;
	  $("button").on("click",function(){
		var index =$("button").index(this); 
		option[index].chartType = check ? "BarChart" :"ColumnChart";
		
		wrapper = new google.visualization.ChartWrapper(option[index]);
		wrapper.draw();
		 
		 check = !check;
	  });    	  
});
	
	
  </script>
</head>
<body>

<div class="container">
  <h1>Google Chart</h1>
  <p>고정 화면</p>
  <button type="button">차트1 변경</button>
  <button type="button">차트2 변경</button>
  <div class="row" id="chart_body">
    <div class="col-sm-6 h200" id="chart_1">chart 1</div>
    <div class="col-sm-6 h200" id="chart_2">chart 2</div>
  </div>
</div>

</body>
</html>